/*  Style Sheet for Gem. */

html {
  --gem-green: PaleGreen;
  --article-background: lightgrey;
  --article-color: black;
  --aside-background: var(--gem-green);
  --aside-color: black;
  --button-background: #E0FFE0;
  --button-border: black;
  --button-color: black;
  --footer-background: var(--gem-green);
  --footer-color: black;
  --form-background: lightblue;
  --form-color: black;
  --header-background: var(--gem-green);
  --header-color: black;
  --main-background: var(--gem-green);
  --main-color: black;
  --menu-background: var(--gem-green);
  --menu-color: black;
  --nav-background: var(--gem-green);
  --nav-color: black;
  --section-background: lightgrey;
  --section-color: black;
  --table-data-background: PowderBlue;
  --table-data-color: black;
  --table-header-background: Blue;
  --table-header-color: black;
  --table-label-background: CornflowerBlue;
  --table-label-color: black;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  text-decoration: none;
  text-align: center;
  background: var(--button-background);
  color: var(--button-color);
  font-weight: bold;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border: 1px solid black;
  border-radius: 0.6em;
}

/* Generic layouts */

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  width: 100%;
  padding: 0.5em;
}

div {
  display: flex;
  overflow: auto;
}

div.hbox {
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

div.hbox > div {
  width: 100%;
  margin: 0em 0.5em 0em 0.5em;
}

div.hbox > div:first-child {
  margin: 0em 0.5em 0em 0em;
}

div.hbox > div:last-child {
  margin: 0em 0em 0em 0.5em;
}

div.vbox {
  flex-direction: column;
  height: 100%;
  width: 100%;
}

div.vbox > div {
  height: 100%;
  margin: 0.5em 0em 0.5em 0em;
}

div.vbox > div:first-child {
  margin: 0em 0.5em 0em 0em;
}

div.hbox > div:last-child {
  margin: 0em 0em 0em 0.5em;
}

/* Desktop layout */

body {
  height: 100%;
  width: 100%;
}

body > div {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header" "left center right" "footer footer footer";
}

body > div > header {
  grid-area: header;
  background: var(--header-background);
  color: var(--header-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 0em 0.5em 0em;
}

body > div > nav {
  grid-area: left;
  background: var(--nav-background);
  color: var(--nav-color);
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

body > div > main {
  grid-area: center;
  background: var(--main-background);
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

body > div > aside {
  grid-area: right;
  background: var(--aside-background);
  color: var(--aside-color);
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

body > div > footer {
  grid-area: footer;
  background: var(--footer-background);
  color: var(--footer-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 0em 0.5em 0em;
}

/*  Left bar layout */

body > div > nav > img {
  width: 128px;
}

body > div > nav > menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

/*  Central layout

body > div > main > menu {
  background-color: var(--menu-background);
  color: var(--menu-color);
  display: flex;
  justify-content: space-around;
  padding: 0.5em 1em 0.5em 1em;
}

body > div > main > article {
  display: flex;
  flex-direction: column;
  background: var(--article-background);
  color: var(--article-color);
  width: 100%;
}

/*  Right bar layout */

body > div > aside > menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

