/*  Style Sheet for Gem. */

html {
  --gem-green: SpringGreen;
  --article-background: lightgrey;
  --article-color: black;
  --aside-background: var(--gem-green);
  --aside-color: black;
  --button-background: lightgrey;
  --button-border: black;
  --button-color: black;
  --footer-background: var(--gem-green);
  --footer-color: black;
  --form-background: lightblue;
  --form-color: black;
  --header-background: var(--gem-green);
  --header-color: black;
  --main-background: var(--gem-green);
  --main-color: black;
  --menu-background: var(--gem-green);
  --menu-color: black;
  --nav-background: var(--gem-green);
  --nav-color: black;
  --section-background: lightgrey;
  --section-color: black;
  --table-data-background: PowderBlue;
  --table-data-color: black;
  --table-header-background: Blue;
  --table-header-color: black;
  --table-label-background: CornflowerBlue;
  --table-label-color: black;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-align: center;
  background: var(--button-background);
  color: var(--button-color);
  padding: 0em 0.5em 0em 0.5em;
  border: 1px solid black;
  border-radius: 0.6em;
}

/* Generic layouts */

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  width: 100%;
  padding: 0.5em;
}

div {
  display: flex;
  overflow: auto;
}

div.hbox {
  flex-direction: row;
  justify-content: space-between;
}

div.hbox > div {
  width: 100%;
  margin: 0em 0.5em 0em 0.5em;
}

div.hbox > div:first-child {
  margin: 0em 0.5em 0em 0em;
}

div.hbox > div:last-child {
  margin: 0em 0em 0em 0.5em;
}

div.vbox {
  flex-direction: column;
}

div.vbox > div {
  height: 100%;
  margin: 0.5em 0em 0.5em 0em;
}

div.vbox > div:first-child {
  margin: 0em 0.5em 0em 0em;
}

div.hbox > div:last-child {
  margin: 0em 0em 0em 0.5em;
}

/* Desktop layout */

gem-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

gem-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 0em 0.5em 0em;
  background: var(--header-background);
  color: var(--header-color);
}

gem-main {
  display: flex;
  background: var(--main-background);
  color: var(--main-color);
  width: 100%;
  height: 100%;
}

gem-main > gem-nav {
  display: flex;
  flex-direction: column;
  background: var(--nav-background);
  color: var(--nav-color);
  padding: 0.5em 0.5em 0.5em 0.5em;
}

gem-main > gem-nav > img {
  width: 128px;
}

gem-main > gem-nav > gem-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

gem-main > gem-section {
  display: flex;
  flex-direction: column;
  background: var(--article-background);
  color: var(--article-color);
  width: 100%;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

gem-main > gem-section > gem-article {
  display: flex;
  flex-direction: column;
  background: var(--article-background);
  color: var(--article-color);
  width: 100%;
}

gem-main > gem-aside {
  display: flex;
  flex-direction: column;
  background: var(--aside-background);
  color: var(--aside-color);
  padding: 0.5em 0.5em 0.5em 0.5em;
}

gem-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 0em 0.5em 0em;
  background: var(--footer-background);
  color: var(--footer-color);
}

gem-menu {
  background-color: var(--menu-background);
  color: var(--menu-color);
  display: flex;
  justify-content: space-around;
  padding: 0.5em 1em 0.5em 1em;
}

gem-button {
  background-color: var(--button-background);
  border: 2px outset ThreeDLightShadow;
  color: var(--button-color);
  cursor: default;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: 0.5em 1em 0.5em 1em;
  /*
  whitespace: unset;
  text-indent: 0;
  text-shadow: initial;
  text-transform: initial;
  word-spacing: initial;
  letter-spacing: initial;
  */
}
