<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/desktop.css" %}" media="all"/>
    <link rel="shortcut icon" href="logo.png"/>
    <title>Marquee</title>
    <script type="module">
      import { registerGemElements } from "./js/desktop.mjs";
      registerGemElements();
    </script>
  </head>
  <gem-body>
    <header>
      <h1>Application Header</h1>
    </header>
    <main>
        <nav>
          <img src="logo.png"/>
          <menu>
            <button>Nav 1</button>
            <button>Nav 2</button>
            <button>Nav 3</button>
            <button>Nav 4</button>
            <button>Nav 5</button>
          </menu>
        </nav>
        <article>
          <menu>
            <button>Menu 1</button>
            <button>Menu 2</button>
            <button>Menu 3</button>
            <button>Menu 4</button>
            <button>Menu 5</button>
          </menu>
          <section>
            <h4>Article header</h4>
            <label>User Name</label>
            <input type="text" name="username"/>
            <label>Password</label>
            <input type="password" name="password"/>
            <menu>
              <input type="submit"/>
            </menu>
          </section>
        </article>
        <aside>
          Aside
        </aside>
    </main>
    <footer>
      <span>&#169; Your Name Here</span>
    </footer>
  </gem-body>
</html>
