<html>
  <head>
    <link rel="stylesheet" type="text/css" href="desktop.css" %}" media="all"/>
    <link rel="shortcut icon" href="Beit-Logo-Small.png"/>
    <title>Marquee</title>
  </head>
  <body>
    <header>
      <h1>Application Header</h1>
    </header>
    <main>
        <nav>
          <img src="logo.png"/>
          <menu>
            <a href="/item-1.html">Item 1</a>
            <a href="/item-2.html">Item 2</a>
            <a href="/item-3.html">Item 3</a>
            <a href="/item-4.html">Item 4</a>
            <a href="/item-5.html">Item 5</a>
          </menu>
        </nav>
        <article>
          <menu>
          </menu>
          <h4>Article header</h4>
          <label>User Name</label>
          <input type="text" name="username"/>
          <label>Password</label>
          <input type="password" name="password"/>
          <input type="submit"/>
        </article>
        <aside>
          Aside
        </aside>
    </main>
    <footer>
      <span>&#169; Beit Software Ltd</span>
    </footer>
  </body>
</html>
